/*栅格*/
.rxui-row{padding:10px;}
.rxui-col-md1{ width: 8%; }
.rxui-col-md2{ width: 16%;}
.rxui-col-md3{ width: 24%;}
.rxui-col-md4{ width: 33%;}
.rxui-col-md5{ width: 41%;}
.rxui-col-md6{ width: 50%;}
.rxui-col-md7{ width: 58%;}
.rxui-col-md8{ width: 66%;}
.rxui-col-md9{ width: 75%;}
.rxui-col-md10{ width: 83%;}
.rxui-col-md11{ width: 91%;}
.rxui-col-md12{ width: 100%;}
.rxui-col-md1,.rxui-col-md2,.rxui-col-md3,.rxui-col-md4,.rxui-col-md5,.rxui-col-md6,.rxui-col-md7,.rxui-col-md8,.rxui-col-md9,.rxui-col-md10,.rxui-col-md11,.rxui-col-md12{
    float:left;
    height:auto;
    border: 1px solid #eeeeee;
}